<!DOCTYPE html>

<html>
<head>
    <style>
        body{
            background: blue;
        }
    </style>

</head>

<body>
    <h1>This is your first home page in Node.js</h1>


    <%= userData %>
</body>

</html>